/** propriétés globales */
*{
    box-sizing: border-box;
}
.plain-text{
    margin: 0;
    font-size: 20px;
    color: black;
}
.bold-text{
    font-size: 24px;
    font-weight: bold;
    color: black;
}
body{
    font-family: 'Raleway', sans-serif;
    color: black;
}

/** définition du header */
header{
    margin-bottom: 25px;
    padding: 0 80px;
}
#top-header{
    display: flex;
    justify-content: space-between;
    /* padding-top: 2px; */
}
#logo{
    width: 120px;
    padding-top: 60px;
}
#menu{
    display: flex;
}
#menu ul{
    display: flex;
    margin: 0;
    padding: 0;
}
.menu-item{
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: stretch;
}
.menu-item a{
    text-decoration: none;
    padding-top: 65px;
    margin: 0 38px;
}
.menu-item a:hover{
    color: #0064fa;
}
#title{
    margin-top: 50px;
}
h1{
    margin: 0 0 15px 0;
    font-size: 28px;
    font-weight: 900;
}

/** corps de page, zone principale */
main{
    padding: 0 80px;
}

/** installation de la barre de recherche */
form{
    width: 555px;
    height: 70px;
    position: relative;
    border: solid 2px #F2F2F2;
    border-radius: 24px;
    margin-bottom: 100px;
}
label{
    width: 65px;
    height: 70px;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 24px 0 0 24px;
    background-color: #F2F2F2;
}
label span{
    width: 100%;
    padding-top: 24px;
    font-size: 22px;
    text-align: center;
}
#location{
    width: 310px;
    height: 100%;
    position: absolute;
    left: 65px;
    border: none;
    padding-left: 15px;
    font-size: 24px;
    font-weight: bold;
    color: black;
}
#large-search-button{
    width: 180px;
    height: 70px;
    position: absolute;
    top: -2px;
    right: -2px;
    border: none;
    border-radius: 0 24px 24px 0;
    background-color: #0064fa;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
#small-search-button{
    display: none;
}

/** mise en place des filtres */
#wrap-filters{
    display: flex;
    align-items: baseline;
}
#wrap-filters > p{
    margin-right: 20px;
}
#wrap-filters-buttons{
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
}
.icon-filter{
    width: 68px;
    height: 68px;
    font-size: 26px;
    padding-top: 21px;
    margin: 0 10px 0 0;
    border-radius: 50%;
    color: #0064fa;
    background-color: rgba(0, 100, 250, 0.08);
    text-align: center;
}
.label-filter{
    width: fit-content;
    max-height: 68px;
    padding-right: 25px;
    margin: 0 20px 20px 0;
    border: solid 2.5px #e8e8e8;
    border-radius : 34px;
    font-size: 25px;
    font-weight: bold;
}
.icon-info{
    width: 32px;
    height: 32px;
    font-size: 16px;
    padding-top: 6.25px;
    margin-right: 10px;
    border-radius: 50%;
    color: #0064fa;
    border: solid 2px #F2F2F2;
    text-align: center;
}
/** gestion adaptative des écrans */
    /* écran de tablette */
@media screen and (min-width: 768px){
    .menu-item:hover{
        border-top: solid 4px #0064fa;
    }
}
    /* écran de smartphone */
@media screen and (max-width: 768px) {
    /* header */
    header{
        padding:0;
    }
    #top-header{
        flex-direction: column;
        align-items: center;
    }
    #menu{
        align-self: stretch;
    }
    #menu ul{
        flex: 1;
        justify-content: stretch;
    }
    .menu-item{
        border-bottom: solid 2px #F2F2F2;
    }
    .menu-item:hover{
        border-bottom: solid 2px #0064fa;
    }
    .menu-item a{
        padding-bottom: 15px;
        margin: 0 auto;
    }
    #title{
        width: 85%;
        margin-left: 20px;
    }

    main{
        padding: 0 20px;
    }
    /* barre de recherche */
    form{
        max-width: 100%;
    }
    #large-search-button{
        display: none;
    }
    #small-search-button{
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        top: -2px;
        right: -2px;
        border: none;
        border-radius: 10px;
        background-color: #0064fa;
        color: #fff;
        box-shadow: none;
    }
    /* filtres */
    #wrap-filters{
        flex-direction: column;
    }
}